---
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';
import type { Speakers } from '~/types';


const {
  title = '',
  subtitle = '',
  tagline = '',
  speakers = [],
  callToAction,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props as Speakers;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />

  <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-6">
    {
      speakers &&
        speakers.map(({ title, speaker, name, job, image }) => (
          <div class="flex justify-center     ">
            <div class="flex-auto  p-4 md:p-4 rounded-md shadow-xl dark:shadow-none dark:border dark:border-slate-600">
              {title && <h2 class="text-lg font-medium leading-6 pb-4">{title}</h2>}
               <div class="  ">
                {image && (
                  <div class=" just h-32 w-32 rounded-xl border border-slate-200 dark:border-slate-600">
                    {typeof image === 'string' ? (
                      <Fragment set:html={image} />
                    ) : (
                      <Image
                        class="h-10 w-10  rounded-xl border border-slate-200 dark:border-slate-600 min-w-full min-h-full"
                        width={100}
                        widths={[400, 768]}
                        layout="fixed"
                        {...(image as any)}
                      />
                    )}
                  </div>
                )}

                <div class="grow ml-0 rtl:ml-0 rtl:mr-3 py-2 justify-center">
                  {name && <p class="text-base font-semibold">{name}</p>}
                  {job && <p class="text-s text-muted">{job}</p>}
                </div>
              </div>

            </div>
          </div>
        ))
    }
  </div>
  {
    callToAction && (
      <div class="flex justify-center mx-auto w-fit mt-8 md:mt-12 font-medium">
        <Button {...callToAction} />
      </div>
    )
  }
</WidgetWrapper>
